*{
    margin: 0;
    padding: 0;
    text-align: center;
}
.headline{
    height: 5rem;
    width: 100%;
    background-color: #081b31;
    color: whitesmoke;
    display: flex;
    /* align-items: center; */
    line-height: 5rem;
    justify-content: center;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 20px;
    margin: 40px;
    gap: 5rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}